<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">


    <title>Bucketlist </title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="../static/css/style.css" rel="stylesheet">

    <link rel="icon" href="../static/images/bucketlist.png">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body style="background-color: #551a8b">

      <!-- Fixed navbar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          
          <a class="navbar-brand" href="#"><img alt="Brand" src="../static/images/bucketlist.png" height="35" width="40"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../navbar-static-top/">
            <li class="active"><a href="/login"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <section id="box">

      <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel" data-ride="carousel">
      <div class="carousel-inner" role="">
        <div class="item active">
          <img class="img-responsive" src="https://resi.ze-robot.com/images/25/25-of-my-favorite-wallpapers-from-reddit-rearthporn-ritookapicture-rspaceporn-rart-and-a-mix-of-other-sources.-credit-to-each-in-imgur-descriptions.-8-1366%C3%97768.jpg" alt="bucket">
          <div class="container">
            <div class="carousel-caption">
              <h1>Ultimate BucketList</h1>
              <p>A list of things you'd like to do before you die, like visiting the Rift Valley, falling in love or falling into the Rift Valley.</p>
              <p><a  class="btn btn-deep-purple" href="{{url_for('view')}}" style="background-color: #551a8b">Create Bucket</a></p>

            
              <!--<a class="btn btn-lg btn-default-outline" href="" role="button"><b>Create your bucket</b></a></p>-->
            </div>
          </div>
        </div>


<a href="https://twitter.com/Dave_Conner" class="btn btn-1">
      <svg>
        <rect x="0" y="0" fill="none" width="100%" height="100%"/>
      </svg>
     Hover
    </a>



</section>
  </body>
</html>
