/* BASE
============================================================================= */
@import url(http://fonts.googleapis.com/css?family=Offside);

html                            { overflow-y:scroll; }
body                            { margin-top:40px; }
#main-content 					{ background:url(img/bg.jpg); }
/* HEADER
============================================================================= */
#header-secondary                         { margin-bottom:50px; }

    /* logo */
    #logo                       { color:#FFF; font-family:'Offside'; font-size:80px; margin-bottom:50px; margin-top:50px; }
    #logo span                  { display:inline-block; }

/* MAIN NAV
============================================================================= */
#main-nav                       { margin-bottom:30px; }

/* SIDEBAR
============================================================================= */
#sidebar                        {  }

#sidebar-nav                    {  }
#sidebar-nav ul                 { list-style:none; padding-left:0; }
#sidebar-nav li                 {  }
#sidebar-nav a                  { background:#428bca; color:#FFF; display:block; margin-bottom:10px; padding:20px; text-transform:uppercase;
    border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px;
}
    #sidebar-nav a:hover        { background:#3276b1; text-decoration:none; }

/* CONTENT
============================================================================= */
/* 
#content                        { background:#FFF; min-height:400px; padding:20px;
    border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px;
}
#content img                    { border-radius:2px; -moz-border-radius:2px; -webkit-border-radius:2px; }
*/

/* ANIMATIONS
============================================================================= */

    /* logo */
    .bb                         { animation-delay:0.2s; -moz-animation-delay:0.2s; -webkit-animation-delay:0.2s; }
    .bu                         { animation-delay:0.8s; -moz-animation-delay:0.8s; -webkit-animation-delay:0.8s; }
    .bc                         { animation-delay:0.6s; -moz-animation-delay:0.6s; -webkit-animation-delay:0.6s; }
    .bk                         { animation-delay:1s; -moz-animation-delay:1s; -webkit-animation-delay:1s; }
    .be                         { animation-delay:0.4s; -moz-animation-delay:0.4s; -webkit-animation-delay:0.4s; }
    .bt                         { animation-delay:1.2s; -moz-animation-delay:1.2s; -webkit-animation-delay:1.2s; }

    .ll                         { animation-delay:1.4s; -moz-animation-delay:1.4s; -webkit-animation-delay:1.4s; }
    .li                         { animation-delay:0.4s; -moz-animation-delay:0.4s; -webkit-animation-delay:0.4s; }
    .ls                         { animation-delay:0.6s; -moz-animation-delay:0.6s; -webkit-animation-delay:0.6s; }
    .lt                         { animation-delay:0.5s; -moz-animation-delay:0.5s; -webkit-animation-delay:0.5s; }

    /* sidebar */
    #side-home                  { animation-delay:0.2s; -moz-animation-delay:0.2s; -webkit-animation-delay:0.2s; }
    #side-about                 { animation-delay:0.6s; -moz-animation-delay:0.6s; -webkit-animation-delay:0.6s; }
    #side-work                  { animation-delay:0.8s; -moz-animation-delay:0.8s; -webkit-animation-delay:0.8s; }
    #side-contact               { animation-delay:0.3s; -moz-animation-delay:0.3s; -webkit-animation-delay:0.3s; }

    /* content */
    #content                    { animation-delay:1.5s; -moz-animation-delay:1.5s; -webkit-animation-delay:1.5s; }
        #content img            { animation-delay:1.7s; -moz-animation-delay:1.7s; -webkit-animation-delay:1.7s; }
        



/* BUCKET LIST
=============================================================================*/
.widget                         { font-family: 'Source Sans Pro', sans-serif; box-shadow: 0 2px 0 rgba(204, 204, 204, 0.15);
                      margin-bottom: 20px; border-radius: 0 0 3px 3px; background: #fff; position: relative; 
                                }

.widget .header                 { height: 100px; border-radius: 3px 3px 0 0; font-size: 1.25em; font-weight: 600; color: #fff;
                      line-height: 100px; padding: 0 20px; overflow: hidden; position: relative;
                                }

.widget .header h2              { margin: 0; }

.widget .header h3              { font-size: 0.6875em; text-transform: uppercase; margin: 0; line-height: 100px; text-align: center;
                      font-weight: 300;
                                }

.widget .header.header-quaternary { background: #48cfad; }

.widget .header .background-icon [class*="icon-"] { color: rgba(0, 0, 0, 0.05); position: absolute; top: -20px; left: -40px; font-size: 7.5em; }

.widget .actions                { height: 20px; text-align: center; }

.widget .actions [class*="icon-"] { font-size: 18px; font-weight: normal; }

.storage .meta                  { text-align: right; text-transform: uppercase; font-size: 0.875em; font-weight: 300; color: #888888; padding: 10px 20px 20px; }

.storage ul                     { list-style: none; margin: 0; padding: 0; }

.storage li                     { padding: 20px 30px 20px 20px; border-bottom: 1px solid #f2f2f2; color: #999999; }

.storage li:last-child          { border-bottom: none; }

.storage li:before              { content: ''; width: 20px; height: 20px; background: #f2f2f2; border-radius: 50%; display: inline-block;
                        position: relative; top: 5px; margin-right: 10px; }

.storage li.active              { color: #555555; }

.storage li.active:before       { content: '\e60c'; font-family: icomoon; background: #48cfad; color: #fff; box-sizing: border-box; padding: 2px; }


/* Bucket
======================================================================================================= */
@import url(http://fonts.googleapis.com/css?family=Roboto);
html,
body {
  margin: 0 0;
  padding: 0 0;
  font-family: 'Roboto';
  cursor: default;
}
/*
.container {
  margin: 110px auto;
  width: 500px;
  text-align: center;
}
*/
h2 {
  background: #B43C52;
  padding: 20px 20px;
  color: #FFF;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: left;
  margin: 0 0;
}

input[type="text"] {
  border: none;
  outline: none;
  background: transparent;
  color: #FFF;
  font-size: 20px;
  width: 350px;
}

::-webkit-input-placeholder {
  color: #FFF;
  font-family: 'Roboto';
  font-size: 20px;
}

.list {
  background: #34495E;
  width: 500px;
  height: 500px;
  border-radius: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.bucket ul {
  margin: 0 -40px;
}

.bucket li {
  list-style: none;
  text-align: left;
  padding: 30px;
  width: 460px;
  transition: all .3s ease;
  color: #FFF;
  font-size: 16px;
}

.bucket li:hover {
  background: #2C3E50;
}

.check {
  border: 1px solid #FFF;
  border-radius: 5px;
  width: 15px;
  height: 15px;
  margin: 0 20px;
  float: right;
  transition: all .3s ease;
  cursor: default;
  padding: 3px;
}

.remove {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  width: 15px;
  height: 15px;
  float: right;
  margin: 0 0;
  background-position: center;
  background-size: 10px;
  transition: all .3s ease;
  cursor: default;
  padding: 4px;
}

.remove:hover {
  background: #B43C52;
  padding: 4px;
  cursor: default;
}

.selected {
  background: url(../../assets/images/check.png) #B43C52;
  background-repeat: no-repeat;
  background-size: cover;
  width: 15px;
  height: 15px;
  background-position: center;
  background-size: 10px;
  transition: all .3s ease;
  border: 1px solid #B43C52;
  cursor: default;
}

/* Login
=====================================================================================
*/
.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text-login"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #2C3E50;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 10px; 10px; 10px; 10px;
}
.login-title
{
    font-size: 18px;
    font-weight: 400;
    display: block;
    color:#FFF; font-family:'Offside';
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
  
}

.btn-wine {
    color: #f8f8f8;
    background-color: #B43C52;
    border-color: #B43C52;
}

.btn-wine:hover {
    color: #f8f8f8;
    background-color: #891c30;
    border-color: #B43C52;

