<!doctype html>
<html>



<head>
    
    <title>{{ title }} | Bucket List</title>

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
    <link rel="stylesheet" href="http://cdn.jsdelivr.net/animatecss/2.1.0/animate.min.css"><!-- load animate -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    
    <script type="text/javascript" src="js/script.js"></script>
    <script type="text/javascript" src="bootstrap/js/bootstrap.js"></script>


</head>



<body id="main-content">



<div class="container">


    <div id="header" class="row text-center">
             
        <div id="logo">          
            
            <span id="danger">
                <span class="dd animated bounceInDown">b</span>
                <span class="da animated bounceInDown">u</span>
                <span class="dn animated bounceInDown">c</span>
                <span class="dg animated bounceInDown">k</span>
                <span class="de animated bounceInDown">e</span>
                <span class="dr animated bounceInDown">t</span>
            </span>
           
            <span id="zone">
                <span class="zz animated bounceInDown">l</span>
                <span class="zo animated bounceInDown">i</span>
                <span class="zn animated bounceInDown">s</span>
                <span class="ze animated bounceInDown">t</span>
            </span>
        </div>

        <nav id="main-nav">
            <ul class="list-unstyled list-inline">
                
                <li><a id="demo-1" class="animated btn btn-danger btn btn-primary" href="{{ url_for('home.homepage') }}">Home</a></li>
                       
                
                <li><a id="demo-2" class="animated btn btn-danger" href"#">Sign Up</a></li>
                
                <li><a id="demo-2" class="animated btn btn-danger" href="#">Login</a></li>
                
                        
                <li><a id="demo-3" class="animated btn btn-danger" href="#">Help</a></li>
                          
            </ul>
        </nav>

    </div>

    <div id="main" class="row">
        <div id="sidebar" class="col-sm-4">
            <nav id="sidebar-nav">
                <ul>
                    <li><a id="side-home" class="animated bounceInLeft" href="#">Home</a>
                    <li><a id="side-about" class="animated bounceInLeft" href="#">Create</a>
                    <li><a id="side-work" class="animated bounceInLeft" href="#">Check</a>
                    <li><a id="side-contact" class="animated bounceInLeft" href="#">Delete</a>
                </ul>
            </nav>
        </div>

        <div id="content" class="animated bounceInUp col-sm-8 text-center">
            
             {% block body %}
             {% endblock %}

        </div>
    </div>

</div>
</body>
</html>

