<!DOCTYPE HTML>
<html>
<head>
<title>BucketList</title>

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--web-fonts-->
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css' />
<!--web-fonts-->

<link href="/static/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<link rel="icon" type="image/png" href="/static/img/favicon.png" />


</head>

<body>
<!--header-->
	<p>{{error}}</p>
<!--//header-->

<!--main-->

<div class="main-content-agile">
			<img src="images/favicon.png" alt="logo">

	<div class="sub-main-w3" style="padding-top: 20px">	
		<form action="{{ url_for('login') }}" method="post">
			<input placeholder="Username" name="Username" class="user" type="text" required=""><br>
			<input  placeholder="Password" name="Password" class="pass" type="password" required=""><br>
			<input type="submit" value="">
		</form>
	</div>
</div>
<!--//main-->

<!--footer-->
<div class="footer">
	<p>&copy; BucketList. All rights reserved | Design by <a href="https://tonykurya.github.io/profile-portfolio/">Antony Kuria</a></p>
</div>
<!--//footer-->

</body>
</html>